[alias]
	now = !git add . && git commit -m 'commit 🐒' && git push
	s = status
	c = checkout
[push]
	autoSetupRemote = true
[user]
	name = Philip Kingo
	email = philipandreasking@hotmail.com
[pull]
	ff = only
